html {
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
}

.logo img{
    width: 6em;
    height: auto;
}

.container {
    padding: 10px 32px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 5px 32px;
    margin-top: 0;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 45px;
}

nav ul li {
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-size: 0.9em;
    color: #232323;
    font-family: quicksand;
    position: relative;
    transition: all 0.3s ease 0s;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 2px;
    position: absolute;
    background: #232323;
    left: 0;
    bottom: -3px;
    transition: 0.3s ease-in;
}

nav ul li a:hover::after{
    width: 100%;
}

nav ul i {
    color: #232323;
}

.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

/* -------------header-------------------  */
#header {
    background-color: #A8A7A5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #232323;
    font-size: 5em;
    margin-bottom: 10px;
    margin-right: 170px;
}

.btn {
    text-decoration: none;
    background-color: #232323;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 24px;
    color: #fff;
    font-family: 'montserrat', sans-serif;
    margin-left: 305px;
    transition: all 0.3s ease;
}

.btn i{
    position: absolute;
    opacity: 0;
    padding-left: 4px;
    transition: all 0.3s ease-in;
}

.btn:hover {
    padding-right: 34px;
}

.btn:hover i {
    opacity: 1;
}

/* -----------------------categories------------------  */

#category {
    padding-bottom: 32px;   
}

.title {
    text-align: center;
    font-family: quicksand;
    font-weight: 350;
}

.category-buttons {
    /* margin-bottom: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.category-buttons button {
    padding: 10px 20px;
    font-family: quicksand;
    margin: 0;
    border: none;
    cursor: pointer;
    background-color: #fff;
    color: #A8A7A5;
    font-size: 20px;
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease;
}

.category-buttons button.active {
   color: #232323;

}

.category-buttons button.active:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #232323;
    transition: width 0.3s ease, left 0.3s ease;
    transform: translateX(-50%);
}

.category-buttons button.active:hover:after {
    width: 50%;
    left: 50%;
}

.category-buttons button:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: transparent;
    transition: width 0.3s ease, left 0.3s ease;
}
.category-content {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 800px;
}

.category {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* gap: 20px; */
    justify-items: center;
    align-items: center;
    transition: left 0.5s ease-in-out;
}

.category img {
    width: 60%;
    max-width: 300px;
    height: auto;
    object-fit: cover;
    border: 2px solid #ddd;
    border-radius: 5px;
    transition: 0.3s ease;
}

.category img:hover {
    transform: scale(1.1);
}

/* ------------------new arrivals---------------------- */
#new-arivals {
    padding-bottom: 32px;
}

.arrival-list {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.arrival-image {
    position: relative;
    overflow: hidden;
    width: 350px;
    height: 450px;
}

.arrival-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.layer {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #232323;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: bottom 0.4s ease-in;
    opacity: 0.7;
}

.layer p {
    color: #fff;
    font-size: 24px;
    border: 2px solid white;
    padding: 30px 40px;
    text-align: center;
    display: block;
}

.arrival-image:hover .layer {
    bottom: 0;
}

/* ------------------------brands------------------------- */


.brand-image {
    width: 370px;
    height: auto;
    transition: all 0.3s ease-in;
}

.brand-image:hover {
    transform: translateY(-5px);
    filter: brightness(30%);
}


.brand-left {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}


.brand-left1, .brand-left2 {
    position: relative;
}

.brand-left1 h1, .brand-left2 h1 {
    position: absolute;
    top: 20px;
    left: 50px;
    font-family: 'montserrat', sans-serif;
    font-weight: 350;
    color: #fff;
    transition: all 0.3s ease;
}

.brand-left1 p, .brand-left2 p {
    font-family: quicksand;
}

.brand-left1 h1 span, .brand-left2 h1 span {
    position: absolute;
    left: 10px;
}

.brand-left1 p, .brand-left2 p {
    position: absolute;
    top: 120px;
    left: 50px;
    color: #fff;
    opacity: 0;
    transition: all 0.3s ease-in;
}

.brand-left1:hover p, .brand-left2:hover p {
    opacity: 1;
}

.brand-left1:hover h1, .brand-left2:hover h1 {
    left: 60px;
}

.brand-right {
    display: flex;
    justify-content: end;
    gap: 10px;
}


/* --------------about------------------  */

#about h1 {
    opacity: 0;
}
.about-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.about-right {
    width: 100%;
}
.about-right img{
    width: 450px;
    height: 500px;
}

.about-right p {
    background-color: #232323;
    color: #fff;
    padding: 15px 20px;
}

.about-right1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes easeInAnimation {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.about-right1 .about-turn {
    font-family: "Agu Display", serif;
    font-size: 6em;
    margin: 0;
    animation: easeInAnimation 1s ease-in forwards;
}

.about-right1 p{
    font-size: 2em;
}

.about-bottom {
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}





.copyright {
    display: flex;
    justify-content: center;
    font-family: 'montserrat', sans-serif;
    font-size: 1.4em;
    align-items: center;
}




/* ----------- search -----------  */
.search-container {
    position: relative;
    /* display: inline-block; */
  }
  
  /* Styling the search icon */
  .search-icon {
    cursor: pointer;
  }
  
  /* Styling the search menu (initially hidden) */
  .search-menu {
    display: none;
    position: absolute;
    top: 10px;
    left: 50px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 1200px;
    height: 300px;
    border-radius: 24px;
    z-index: 1000;
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .search-menu.active {
    display: block;
    opacity: 1;
    transform: scale(1);
  }
  /* Search box styling */
  #search-box {
    width: 1140px;
    padding: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 24px;
  }
  
  /* Suggestions list styling */
  #suggestions {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #suggestions li {
    padding: 5px 25px;
    cursor: pointer;
    font-family: quicksand;
    color: #A8A7A5;
  }
  
  #suggestions li:last-child {
    border-bottom: none;
  }
  
  #suggestions li:hover {
    background-color: #f0f0f0;
  }



/* Responsive Design */

@media (max-width: 768px) {
    html, body {
        overflow-x: hidden;
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    nav {
        padding: 10px 20px;
        position: sticky;
        box-sizing: border-box;
        top: 0;
    }
    .menu-icon {
        display: block;
        position: absolute;
        right: 40px;
    }

    .nav-right ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 85px;
        right: 5%;
        background-color: #F2F2F2;
        width: 40%;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
        padding: 10px 0;
        margin: 0;
    }

    .nav-right ul.active {
        display: flex;
    }

    .title {
        font-size: 2.5em;
    }
    #header {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        width: 100%;
        margin: 0;
        padding: 0;
        position: relative;
        top: 0;
    }

    #header img {
        margin: 0;
        width: 80%;
    }

    #header h1 {
        margin: 0;
        position: absolute;
        top: 45%;
        left: 2%;
        color: #fff;
        font-size: 7em;
    }

    #header a {
        margin: 0;
        position: absolute;
        top: 65%;
        right: 23%;
        background-color: #fff;
        color: #232323;
        font-size: 2em;
        border-radius: 0;
        font-weight: 600;
    }

    .category-buttons {
        margin: 0;
    }
    .category-content {
        margin: 0;
        padding: 0;
    }
    
    .category {
        grid-template-columns: repeat(2, 1fr);
        height: 100%;
    }
    .category img {
        margin: 0;
        width: 70%;
    }

    .arrival-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0;
        gap: 30px;
    }

    .arrival-image {
        width: 70%;
        height: 70%;
    }

    .arrival-list img {
        width: 100%;
    }

    .brand-left, .brand-right {
        flex-direction: column;
        width: 100%;
        gap: 30px;
    }

    .brand-left1, .brand-left2 {
        width: 100%;
        position: relative;
    }
    .brand-image {
        width: 100%;
    }

    .brand-left1 h1, .brand-left2 h1 {
        font-size: 4em;
    }

    .brand-left1 p, .brand-left2 p {
        font-size: 2em;
        top: 60%;
    }

    .about-content {
        flex-direction: column-reverse;
        gap: 0;
    }

    .about-content img {
        width: 100%;
        margin: 0;
    }

    .address {
        font-size: 1.7em;
        padding: 20px 20px;
    }
}

@media (max-width: 600px) {
    html, body {
        overflow-x: hidden;
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    nav {
        padding: 10px 20px;
        position: sticky;
        box-sizing: border-box;
        top: 0;
        width: 100%;
    }
    .menu-icon {
        display: block;
        position: absolute;
        right: 20px;
    }

    .nav-right ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 85px;
        right: 5%;
        background-color: #F2F2F2;
        width: 40%;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
        padding: 10px 0;
        margin: 0;
    }

    .nav-right ul.active {
        display: flex;
    }

    .title {
        font-size: 2em;
    }
    #header {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        width: 100%;
        margin: 0;
        padding: 0;
        position: relative;
        top: 0;
    }

    #header img {
        margin: 0;
        width: 80%;
    }

    #header h1 {
        margin: 0;
        position: absolute;
        top: 45%;
        left: 2%;
        color: #fff;
        font-size: 4em;
    }

    #header a {
        margin: 0;
        position: absolute;
        top: 65%;
        right: 20%;
        background-color: #fff;
        color: #232323;
        font-size: 1em;
        border-radius: 0;
        font-weight: 600;
    }

    .category-buttons {
        margin: 0;
    }
    .category-content {
        margin: 0;
        padding: 0;
    }
    
    .category {
        grid-template-columns: repeat(2, 1fr);
        height: 100%;
        gap: 0;
    }
    .category img {
        margin: 0;
        width: 80%;
        height: auto;
    }

    .arrival-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0;
        gap: 30px;
    }

    .arrival-image {
        width: 80%;
        height: 100%;
        margin: 0;
    }

    .arrival-list img {
        width: 100%;
    }

    .brand-left, .brand-right {
        flex-direction: column;
        width: 100%;
        gap: 30px;
    }

    .brand-left1, .brand-left2 {
        width: 100%;
        position: relative;
    }
    .brand-image {
        width: 100%;
    }

    .brand-left1 h1, .brand-left2 h1 {
        font-size: 2em;
    }

    .brand-left1 p, .brand-left2 p {
        font-size: 1em;
        top: 60%;
    }

    .about-content {
        flex-direction: column-reverse;
        gap: 0;
    }

    .about-content img {
        width: 100%;
        height: 300px;
        margin: 0;
    }

    .address {
        font-size: 0.9em;
        padding: 20px 20px;
        text-align: center;
    }

    #about h1 {
        opacity: 1;
    }
    .about-turn {
        display: none;
    }

    .about-right1 p {
        font-size: 1.2em;
    }

    .about-bottom {
        font-size: 1.5em;
    }

    .search-menu {
        width: 90%;
        margin: 0;
        position: absolute;
        left: 2%;
    }

    #search-box {
        width: 80%;
    }
}